{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us....</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to my E-Commerce Page</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/>
                        <br/>
                        <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris vel ante gravida, placerat metus non, maximus libero.
                        Maecenas sagittis semper quam vitae condimentum.
                        Donec sagittis scelerisque imperdiet.
                        In vel ante nisi.
                        Vivamus non mauris a erat maximus ultricies.
                        Vivamus feugiat volutpat diam, eget aliquam risus convallis quis.
                        Etiam consectetur rhoncus odio, in convallis libero tincidunt sit amet.
                        Donec eu velit nec lacus dapibus vulputate.
                        <br/>
                        <br/>
                        Nunc mattis gravida lectus.
                        Integer pharetra quam ac varius malesuada.
                        Quisque posuere in magna et molestie.
                        Nulla non libero ac augue imperdiet mattis.
                        Nulla nec quam et dui posuere molestie quis non dui.
                        Donec pellentesque rhoncus orci aliquam viverra.
                        Integer ac orci ac dolor iaculis lacinia.
                        Morbi elementum rhoncus ex, eu ultrices dolor tincidunt quis.
                        Integer tincidunt maximus nisi, sed efficitur mi euismod non.
                        Vestibulum dictum ut libero congue eleifend.
                        Ut a eleifend metus.
                        Suspendisse lobortis, felis id lobortis mollis, massa turpis fringilla nisi, vel condimentum tellus ligula eu ante.
                        <br/>
                        <br/>
                        Cras ac congue sem.
                        Vivamus ac tempus orci, ut dictum leo.
                        Curabitur convallis vehicula nibh, faucibus dignissim est pharetra et.
                        Vestibulum consectetur mauris eget quam semper, sit amet lacinia ante ultricies.
                        Fusce lobortis justo vel nibh faucibus, a laoreet nunc eleifend. Curabitur ut est imperdiet, malesuada nunc ut, blandit urna.
                        Vestibulum aliquet leo eget diam vulputate venenatis.
                        Vivamus eu faucibus nisl. Mauris consectetur in nisi nec euismod.
                        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        Donec nec nisl sed lacus egestas condimentum.
                        Proin non viverra sapien.
                        Donec urna ex, consequat non ornare vestibulum, pulvinar eu nulla.
                        Nunc vel enim justo.
                        Maecenas ut cursus lorem.
                        <br/>
                        <br/>
                        Integer egestas ante in porta semper. Sed iaculis efficitur sem, vel venenatis enim maximus ac.
                        Suspendisse fringilla lacus quam, scelerisque consequat tortor viverra in.
                        Nam metus purus, tempus id mattis quis, venenatis at nunc.
                        Sed eros risus, egestas varius iaculis sed, tincidunt quis velit.
                        Phasellus blandit vitae arcu quis euismod.
                        Aliquam eu erat ornare, efficitur dolor ut, mollis sem.
                        Donec rhoncus eu massa vel dapibus.
                        In odio odio, faucibus eget efficitur nec, gravida et elit.
                        Mauris eget nisi quis velit efficitur vestibulum.
                        Praesent sit amet blandit velit.
                        Fusce sit amet finibus nibh, sit amet elementum mauris.
                        Pellentesque id ante vitae sem scelerisque malesuada in dictum massa.
                        Duis ac pellentesque leo.
                        <br/>
                        <br/>
                        Maecenas ultrices ultricies varius.
                        Pellentesque varius tincidunt metus lobortis faucibus.
                        Nam consequat erat vel massa mattis ornare.
                        Fusce laoreet venenatis justo euismod mollis.
                        Donec ac velit risus.
                        In a tempus nulla.
                        Duis non tristique tellus.
                        Praesent in auctor elit.
                        Ut finibus velit sit amet diam pellentesque, sit amet blandit mauris accumsan.
                        Donec ligula sapien, ornare ut viverra a, imperdiet sit amet purus.
                        Aenean tempus, nisi volutpat consectetur mattis, ex magna mattis nisl, interdum congue odio diam sit amet mi.
                        Curabitur maximus laoreet vehicula.
                        Nam quis malesuada ipsum.
                        Sed eu est egestas, facilisis nisl id, posuere libero.
                        Aenean bibendum nisi in vehicula malesuada.
                        <br/>
                        <br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}